@font-face {
  font-family: "N Black";
  src: url("../../../fonts/N_Black.ttf");
}
@font-face {
  font-family: "N Bold";
  src: url("../../../fonts/N_Bold.ttf");
}
@font-face {
  font-family: "N Medium";
  src: url("../../../fonts/N_Medium.ttf");
}
@font-face {
  font-family: "N Regular";
  src: url("../../../fonts/N_Regular.ttf");
}
.desktop_nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.desktop_nav .desktop_nav_inner {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_inner_side {
  height: 140px;
  display: flex;
  align-items: center;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_L {
  justify-content: flex-start;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_L .desktop_nav_inner_side_cnt .logo {
  cursor: default;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_L .desktop_nav_inner_side_cnt .logo h1 {
  font-family: "N Black";
  font-size: 31px;
  color: ghostwhite;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_L .desktop_nav_inner_side_cnt .logo h1 span {
  color: #cf69df;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R {
  justify-content: flex-end;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt {
  width: 100%;
  max-width: 340px;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "N Bold";
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt ul li a {
  text-align: center;
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  text-decoration: none;
  position: relative;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt ul li a:hover span,
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt ul li a:hover .icon {
  color: #7a49a5;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt ul li a:hover .icon {
  animation: mUD 1s linear infinite;
}
@keyframes mUD {
  0%, 100% {
    bottom: -18px;
  }
  50% {
    bottom: -21px;
  }
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt ul li a span {
  display: block;
  color: ghostwhite;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt ul li a .icon {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: ghostwhite;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}/*# sourceMappingURL=Nav.module.css.map */